*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.bg-secondary {
  background-color: #adb5bd !important;
}

.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9625rem;
}

.navbar {
  font-size: 0.9625rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-brand {
  padding-top: 0.29375rem;
  padding-bottom: 0.29375rem;
  margin-right: 1rem;
  font-size: calc(1.2625rem + 0.15vw);
  text-decoration: none;
  white-space: nowrap;
}

.bg-secondary {
  background-color: #adb5bd !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
user agent stylesheet nav {
  display: block;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

/* HEADINGS */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.h1,
h1 {
  font-size: calc(1.4rem + 1.8vw);
}
@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.75rem;
  }
}
.h2,
h2 {
  font-size: calc(1.345rem + 1.14vw);
}
@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 2.2rem;
  }
}
.h3,
h3 {
  font-size: calc(1.3175rem + 0.81vw);
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.925rem;
  }
}
.h4,
h4 {
  font-size: calc(1.29rem + 0.48vw);
}
@media (min-width: 1200px) {
  .h4,
  h4 {
    font-size: 1.65rem;
  }
}
.h5,
h5 {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .h5,
  h5 {
    font-size: 1.375rem;
  }
}
.h6,
h6 {
  font-size: 1.1rem;
}
/* PARAGRAPH -- LEAD */
.lead {
  color: #868e96;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.lead {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1.1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

/* Dynamic content css*/
.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  font-size: 0.83rem;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 800px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 840px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }

  .list-group {
    font-size: 0.93rem;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }

  .spec-sheet {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
